# FEATURE SCALING - STANDARDIZATION

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv('./dataset/Social_Network_Ads.csv')
df.sample(10)

     Age  EstimatedSalary  Purchased
311   39            96000          1
147   41            30000          0
270   43           133000          0
133   21            68000          0
203   41            71000          0
110   39            71000          0
327   42            75000          0
45    23            20000          0
287   48           138000          1
283   52            21000          1

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

## SPLIT DATASET INTO TRAINING AND TEST DATA

In [21]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(df.drop('Purchased' , axis = 1), df['Purchased'] , test_size = 0.3 , random_state = 0)
X_train.shape , X_test.shape

((280, 2), (120, 2))

## STANDARD SCALER

In [31]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# learn the parameters from the training data and gets the mean & standard deviation
scaler.fit(X_train)

# transforms the data by applying Standardization
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [33]:
scaler.mean_

array([3.78642857e+01, 6.98071429e+04])

In [37]:
X_train_scaled = pd.DataFrame(X_train_scaled , columns = X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled , columns = X_test.columns)

In [41]:
X_train_scaled.sample(5) , X_test_scaled.sample(5)

(          Age  EstimatedSalary
 157 -1.163172        -0.514966
 176 -0.476894        -0.833075
 267  1.679982        -0.890913
 225 -0.280814        -1.353618
 125  0.797624        -1.093347,
           Age  EstimatedSalary
 96  -1.457292        -0.196856
 10  -0.771013        -0.601723
 67  -1.065133        -0.341451
 106  0.111345        -0.804156
 73   0.699584        -1.382537)

In [43]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

lr.fit_transform(X_train_scaled , y_train)